h1{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    background-color: purple;
    color:white;
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    background-color: lightskyblue;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    color:purple;
    text-decoration: underline;
}